body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(90deg, rgba(225, 77, 239, 0.8282159543504902) 0%, rgba(123, 250, 195, 1) 50%, rgba(107, 242, 244, 1) 100%);
}

code {
    font-family: 'Roboto',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    cursor: pointer;
}